@use "../abstracts/colors";
@use "../abstracts/functions";
@use "../abstracts/media-query";
@use "../abstracts/spacing";
@use "../abstracts/fonts";
@use "../abstracts/anchors";
@use "../abstracts/shadows";
@use "../abstracts/buttons";
@use "../abstracts/z-index";
@use "../abstracts/animations";
@use "../abstracts/border-radius";

.o-pricing {
	$o-pricing: &;

	position: relative;
	z-index: z-index.$on-top;
	background: rgb(87,113,195);
	background: linear-gradient(0deg, rgba(87,113,195,1) 40%, rgba(230,246,248,1) 100%);

	&--general{
		background: rgb(87,113,195);
		background: linear-gradient(0deg, rgba(87,113,195,1) 10%, rgba(230,246,248,1) 100%);
		@include media-query.breakpoint(extralarge) {
			z-index: z-index.$overlay;
		}
		#{$o-pricing}__backgroundback{
			@include media-query.breakpoint(extralarge) {
				height: 100%;
			}
		}
	}
	&--hidden {
		overflow: hidden;
	}

	&__backgroundback {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		margin: auto;
	}

	&__spacing {
		position: relative;
		z-index: z-index.$on-top;
		padding: functions.torem(120px) 0 functions.torem(30px);
		@include media-query.breakpoint(smallg) {
			padding: functions.torem(146px) 0 functions.torem(76px);
		}
	}

	&__heading {
		@include fonts.font-size--top-heading;
		margin-bottom: functions.torem(20px);
		color: colors.$blue-text-color;
		text-align: center;
		text-transform: fonts.$uppercase;
		@include media-query.breakpoint(smallg) {
			margin-bottom: functions.torem(32px);
			font-size: functions.torem(54px);
		}
	}

	&__subheading {
		margin: 0;
		color: colors.$blue-text-color;
		font-size: functions.torem(16px);
		line-height: functions.torem(28px);
		text-align: center;
		// text-transform: fonts.$uppercase;
	}

	&__tabheader {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		margin: functions.torem(34px) 0 functions.torem(50px);
	}

	&__tabtn {
		@include fonts.font-size--itemtitle;
		margin: 0 functions.torem(5px);
		padding: functions.torem(9px) functions.torem(16px);
		color: colors.$white;
		text-align: center;
		background-color: transparent;
		border: functions.torem(1px) solid transparent;
		border-radius: functions.torem(106px);

		&.active {
			border: functions.torem(1px) solid colors.$border-color6;
		}
	}

	&__content {
		transition: opacity 1s ease-in-out;
	}

	&__planwrapper {
		display: flex;
		@include media-query.breakpoint(smallg) {
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;
		}
	}

	&__planbox {
		position: relative;
		z-index: z-index.$on-top;
		width: 100%;
		max-width: 100%;
		padding: functions.torem(59px) functions.torem(30px) functions.torem(24px);
		background-color: colors.$light-color1;
		border-radius: border-radius.$border-radius--box-12;
		transition: all .5s ease-out;

		&--enterprice {
			background-color: colors.$light-color4;
		}
		@include media-query.breakpoint(smallg) {
			max-width: functions.torem(232px);
			margin: 0 functions.torem(7px);
			padding: functions.torem(59px) functions.torem(10px) functions.torem(10px);
		}
		@include media-query.breakpoint(medium) {
			max-width: functions.torem(307px);
			padding: functions.torem(59px) functions.torem(30px) functions.torem(24px);
		}

		&--popular {
			background-color: colors.$light-color5;

			&::before {
				content: "POPULAR";
				position: absolute;
				top: functions.torem(22px);
				left: 0;
				display: flex;
				width: functions.torem(78px);
				height: functions.torem(23px);
				justify-content: center;
				align-items: center;
				color: colors.$white;
				font-size: functions.torem(12px);
				text-transform: fonts.$uppercase;
				background-color: rgba(0, 140, 214, 1);
			}
		}

		&:hover {
			box-shadow: 0 functions.torem(10px) functions.torem(10px) 0 rgba(194, 213, 249, .7);
		}
	}

	&__planboxtop {
		width: 100%;
		padding-bottom: functions.torem(12px);
		text-align: center;
		border-bottom: functions.torem(1px) solid colors.$border-color3;
	}

	&__planame {
		@include fonts.font-size--normaldifferent;
		margin-bottom: functions.torem(15px);
		text-align: center;
	}

	&__plancost {
		@include fonts.font-size--cost;
		margin-bottom: functions.torem(2px);
		color: colors.$black;
	}

	&__plantip {
		@include fonts.font-size--itemtitle1;
		color: colors.$black;
	}

	&__planlist {
		padding-top: functions.torem(14px);
		padding-left: 0;
	}

	&__planitem {
		position: relative;
		@include fonts.font-size--itemtitle1;
		margin-bottom: functions.torem(16px);
		padding-left: functions.torem(30px);
		color: colors.$black;
		background: url(../../assets/images/icons/li-before.svg) no-repeat;
		background-position: left center;
		background-size: 20px;
	}

	&__planbtn {
		@include fonts.font-size--itemtitle;
		display: flex;
		width: 100%;
		max-width: functions.torem(148px);
		height: functions.torem(40px);
		justify-content: center;
		align-items: center;
		margin: functions.torem(30px) auto 0;
		font-weight: fonts.$font-weight--bold;
		background: rgb(216, 61, 255);
		background: radial-gradient(circle, rgba(216, 61, 255, 1) 3%, rgba(138, 86, 248, 1) 100%);
		border: 0;
		border-radius: functions.torem(106px);
		text-decoration: none;
	}

	&__shape1 {
		position: absolute;
		bottom: 30%;
		left: 0;
		z-index: z-index.$background;
		width: functions.torem(85px);
	}

	&__shape2 {
		position: absolute;
		top: 20%;
		right: 8%;
		z-index: z-index.$background;
	}

	.splide__arrows {
		position: absolute;
		right: 0;
		bottom: functions.torem(-50px);
		left: 0;
		z-index: 2;
		width: functions.torem(150px);
		margin: auto;
	}
}

.o-faqprice {
	position: relative;

	$o-faqprice: &;

	&__question {
		margin: 0;
		font-weight: fonts.$font-weight--normal;
		@include media-query.breakpoint(smallg) {
			font-size: functions.torem(20px);
		}
	}

	&__answare {
		margin: 0;
		font-size: functions.torem(16px);
		line-height: functions.torem(31px);
		@include media-query.breakpoint(smallg) {
			margin: functions.torem(5px) 0 0;
		}
	}

	&__backgroundblue {
		position: absolute;
		bottom: -20%;
		left: 0;
		height: 100%;
	}
}

.mt-8{
	margin-top: 40px;
}
